.calendar {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  border: 1px solid black;
  margin: 25px auto 25px;
  padding: 10px;
}

.calendar__day {
  width: 40px;
  text-align: center;
}

.calendar__month {
  grid-column: 1/-1;
  justify-self: center;
}

.calendar a {
  justify-self: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding-inline: 0.5em;
}

.calendar a.available {
  background-color: green;
}
