
.profileContainer {
  text-align: center;
}

.profilePicture {
  width: 25%;
  border-radius: 200px;
  clear:both;
  display: block;
  margin: 0 auto;
  border: 5px solid #AF125A;
}

input, select {
  display: block;
  margin: 0 auto;
}